.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .congratulations {
    font-size: 40px;
  }

  .congratulationsWord {
    font-family: 'Dancing Script', cursive;
    color: #ADFF2F;
    margin: 60px 0;
    font-size: 5rem;

    @media (max-width: 600px) {
      font-size: 3rem;
    }
  }

  .result{
    font-size: 24px;
    margin: 0 0 100px 0;
    text-align: center;
    flex-wrap: wrap;
  }

  .congratulations,
  .result,
  Button {
    color: white;
  }

}