.container {
  .BirdName {
    color: #dddddd;
    text-align: left;
  }
}

.contentInf {
  justify-content: center;
  display: flex;
}

.informationBlock {
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px;
  color: white;
  border-radius: 5px;
  border: solid 1px #444;
  margin: 25px 0 25px 0;
  width: 800px;

  @media (max-width: 1100px) {
    width: 675px;
  }

  .currentAfterHideBlock,
  .currentHideBlock {
    width: 570px;
  }

  @media (max-width: 900px) {
    width: 100%;
  }

  @media (max-width: 600px) {
    justify-content: center;
    flex-wrap: wrap;

  }
}

.InformationBlockBig {
  width: 500px;
  background-color: #222;
  display: flex;
  flex-direction: row;
  padding: 15px;
  color: white;
  border-radius: 5px;
  border: solid 1px #444;
  margin: 25px 0 25px 25px;

  @media (max-width: 1100px) {
    width: 375px;
  }

  @media (max-width: 900px) {
    width: 50%;
  }

  @media (max-width: 600px) {
    flex-wrap: wrap;
    margin: 25px;
    width: 300px;
  }
}

.plsTry {
  padding: 10px;
  width: 500px;
}

.DefaultBird {
  height: 155px;
  width: 200px;
  border-radius: 15px;
}

.CurrenttBird {
  height: 155px;
  width: 200px;
  border-radius: 15px;
}

.MediaBlock {
  display: flex;
}

@media (max-width: 900px) {
  .MediaBlock {
    flex-wrap: wrap;
    justify-content: center;
  }
}
